.text-left {
    text-align: initial;
}

.text-center {
    text-align: center;
}

.pt-10 {
    padding-top: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-0 {
    padding-bottom: 0px !important;
}

.pb-15 {
    padding-bottom: 15px !important;
}

.pt-20 {
    padding-top: 20px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-15 {
    margin-top: 15px;
}

.cursor-click {
    cursor: pointer;
}

.table-wrapper {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0px 40px 0px rgb(0 0 0 / 15%);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0px 40px 0px rgb(0 0 0 / 15%);
    -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    color: #fff;
    line-height: 2;
    letter-spacing: 0.5px;
    background-color: #0d6efd;
    padding: 5px;
}

td {
    line-height: 1.4;
    padding: 5px;
    font-weight: 400;
    color: black;
}

tr:nth-child(even) {
    color: rgb(105 103 103);
    background-color: #efebff;
}

tr:nth-child(odd) {
    color: rgb(105 103 103);
    background-color: #fff;
}

.group {
    position: relative;
    margin-bottom: 45px;
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
}

input:focus {
    outline: none;
}

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
}

input:focus~label,
input:valid~label {
    display: none;
    visibility: hidden;
}

.bar {
    position: relative;
    display: block;
    width: 300px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

input:focus~.bar:before,
input:focus~.bar:after {
    width: 50%;
}

button {
    background-color: #564b9b;
    width: 100%;
    padding: 13px;
    font-size: 18px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    border: 1px solid #afafaf;
    transition: 0.2s;
}

button:hover {
    background-color: #3c346a;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

button:active {
    background-color: #1f1c31;
    color: #EBEBE4;
}