<div class="card-row card-row-center pt-20">
    <div>
        <div class="card-container">
            <div class="card pb-15">
                <img class="pt-10" *ngIf="user.id == 1" src="assets\images\Shiryu.jpg">
                <img class="pt-10" *ngIf="user.id == 2" src="assets\images\Ikki.jpg">
                <img class="pt-10" *ngIf="user.id == 3" src="assets\images\Hyoga.jpg">
                <div>
                    <h3><b>{{user.name}}</b></h3>
                    <div class="card-row">
                        <div class="card-row-item"><b>CPF:</b> </div>
                        <div class="card-row-item">{{user.cpf | mask: '000.000.000-99'}}</div>
                    </div>
                    <div class="card-row">
                        <div class="card-row-item"><b>Conta:</b> </div>
                        <div class="card-row-item">{{user.account | mask: '00000-9'}}</div>
                    </div>
                    <div class="card-row">
                        <div class="card-row-item"><b>Saldo:</b> </div>
                        <div class="card-row-item">{{user.balance | currency}}</div>
                    </div>

                    <div class="table-wrapper mt-15" *ngIf="userAssets.length > 0">
                        <table>
                            <tr>
                                <th>
                                    <b>Ação</b>
                                </th>
                                <th>
                                    <b>Quantidade</b>
                                </th>
                            </tr>
                            <tr *ngFor="let userAsset of user.userAssets">
                                <td>
                                    {{userAsset.quantity}}
                                </td>
                                <td>
                                    {{userAsset.symbol}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>

        <div class="card">
            <div class="trends-align-left">
                <span><i class="material-icons card-icon-medium">trending_up</i>
                    <span class="trends-title">Ações mais negociadas</span>
                </span>
            </div>
            <hr class="card-separator mb-15">

            <div class="card-container-order">
                <div *ngFor="let stock of stocks" (click)="showSelectStock(stock)">
                    <div class="text-center pt-10 pb-10">
                        <div class="card-stock cursor-click">
                            <div class="card-stock-title">
                                {{stock.symbol}}
                            </div>
                            <div class="card-stock-price">
                                <div>
                                    {{stock.currentPrice | currency}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="trends-align-left mt-15">
                <span><i class="material-icons card-icon-medium">attach_money</i>
                        <span class="trends-title">Comprar Ação</span>
                </span>
            </div>
            <hr class="card-separator mt-10">

            <div class="text-center pt-10" *ngIf="!selectStock.id">
                <div class="card pb-0">
                    <div class="order-title-empty">Selecione uma Ação</div>
                    <div>
                        <span><i class="material-icons card-icon-empty">trending_up</i></span>
                    </div>
                </div>
            </div>

            <div class="order-content" *ngIf="selectStock.id > 0">
                <div class="order-content-col">
                    <div>
                        <div class="inline-block">Ação: </div>
                        <div class="inline-block stock-color">{{selectStock.symbol}}</div>
                    </div>
                    <div class="mt-15">
                        <div class="inline-block">Preço: </div>
                        <div class="inline-block stock-color">{{selectStock.currentPrice | currency}}</div>
                    </div>
                </div>

                <div class="order-content-col">
                    <div style="display: flex;">
                        <span class="inline-block">Quantidade: </span>
                        <input class="pt-10" type="number" [(ngModel)]="order.amount">
                    </div>
                    <div class="mt-15">
                        <button type="button" class="cursor-click" (click)="executeOrder(order)">COMPRAR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>