.content {
    margin: 82px auto 32px;
    max-width: 960px;
    align-items: center;
}

.card {
    min-width: 200px;
    padding: 10px;
    margin-left: 16px;
    margin-right: 16px;
    text-align: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 20px #BCBCCB47;
    border-radius: 8px;
    border: 1px solid rgb(215 209 209);
    opacity: 1;
}

.card-stock {
    min-width: 150px;
    max-height: 150px;
    padding: 10px;
    border-top: solid 4px #7203FF;
    margin-left: 16px;
    margin-right: 16px;
    text-align: center;
    background-color: #ffffff;
    color: black;
    box-shadow: 0px 3px 20px #BCBCCB47;
    border-radius: 2px 2px 5px 5px;
    opacity: 1;
}

.card-stock:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-stock-title {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 2px;
}

.card-stock-price {
    font-size: 18px;
    font-weight: 500;
    color: #7203FF;
}

.card-container {
    display: flex;
    justify-content: center;
}

.card-container-order {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 700px;
}

.card-row {
    display: flex;
}

.card-row-center {
    justify-content: center;
}

.card-row-item {
    padding-right: 5px;
    padding-bottom: 5px;
}

.order-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #330066;
}

.order-content-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    text-align: left;
    margin-bottom: 25px;
    margin-top: 25px;
}

.order-title {
    text-align: initial;
    font-size: 18px;
    font-weight: 700;
    font-family: Roboto;
}

.order-title-empty {
    min-width: 300px;
    font-size: 24px;
    font-weight: 700;
    font-family: Roboto;
    color: #330066;
}

img {
    object-fit: cover;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.card-icon-empty {
    font-size: 75px;
    color: #c5c2c7;
}

.card-icon-medium {
    font-size: 32px;
    color: #330066;
    vertical-align: bottom;
    padding-right: 5px;
    display: inline-block;
}

.trends-title {
    font-size: 28px;
    font-weight: 600;
    color: #330066;
}

.trends-align-left {
    text-align: left;
    margin-left: 15px;
}

.card-separator {
    width: 95%;
    border: solid 1px;
    color: #330066;
}

.inline-block {
    display: inline-block;
}

.stock-color {
    color: #A78BF9;
}